body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #211f2f;
background: linear-gradient(98deg, #211f2f 0%, #918ca9 100%);
height: 100vh;
text-align: center;
}

.start{
  color: wheat;
  cursor: pointer;
  border: 10px double wheat;
  padding: 10px;
}

.player{
  color: wheat;
  cursor: pointer;
  border: 10px double wheat;
  padding: 10px;
}